# Landing page / public app
NEXT_PUBLIC_SITE_URL=https://kinobot.uz
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_YANDEX_METRICA_ID=XXXXXXXXXX
TELEGRAM_BOT_TOKEN=123456:ABC-DEF
TELEGRAM_CONTACT_CHAT_ID=-1001234567890
